<ul>
    <li><a href='http://sethgodin.typepad.com/seths_blog/' title='Seth&apos;s Blog'>Seth&apos;s Blog</a></li>
    <li><a href='http://www.brainpickings.org/' title='Brain Pickings'>Brain Pickings</a></li>
    <li><a href='http://exp.lore.com/' title='Explore'>Explore</a></li>
    <li><a href='http://sidebar.io/' title='Sidebar: The 5 best design links, every day'>Sidebar</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://sandradodd.com/' title='Sandra Dodd on Life and Learning'>Sandra Dodd</a></li>
    <li><a href='http://joyfullyrejoycing.com/' title='Joyfully Rejoycing - Joyful Living and Unschooling'>Joyce Fetteroll</a></li>
    <li><a href='http://livingjoyfully.ca/' title='Living Joyfully'>Pam Laricchia</a></li>
    <li><a href='http://leobabauta.com/'>Leo Babauta</a></li>
    <li><a href='http://www.theminimalists.com/' title='Joshua Fields Millburn &amp; Ryan Nicodemus '>The Minimalists</a></li>
    <li><a href='http://www.downes.ca/' title='Stephen&apos;s Web'>Stephen Downes</a></li>
    <li><a href='http://www.holtgws.com/' title='John Holt GWS'>John Holt</a></li>
    <li><a href='http://www.johntaylorgatto.com/' title='John Taylor Gatto - Challenging the Myths of Modern Schooling'>John Taylor Gatto</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://html5doctor.com/' title='HTML5 Doctor, helping you implement HTML5 today'>HTML5 Doctor</a></li>
    <li><a href='http://www.html5rocks.com/' title='HTML5 Rocks - A resource for open web HTML5 developers'>HTML5 Rocks</a></li>
    <li><a href='http://css-tricks.com/' title='CSS-Tricks'>Chris Coyier</a></li>
    <li><a href='http://tympanus.net/codrops/' title='Codrops'>Codrops</a></li>
    <li><a href='http://csswizardry.com/' title='Home – CSS Wizardry – CSS, OOCSS, front-end architecture, performance and more, by Harry Roberts'>Harry Roberts</a></li>
    <li><a href='http://lea.verou.me/' title='Lea Verou | Life at the bleeding edge (of web standards)'>Lea Verou</a></li>
    <li><a href='http://trentwalton.com/' title='Trent Walton'>Trent Walton</a></li>
    <li><a href='http://adactio.com/' title='Adactio: Jeremy Keith'>Jeremy Keith</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://www.2ality.com/' title='②ality – JavaScript and more'>Dr. Axel Rauschmayer</a></li>
    <li><a href='http://javascriptissexy.com/' title='JavaScript is Sexy | Learn modern web application development with JavaScript'>Richard Bovell</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://www.lukew.com/' title='LukeW Ideation + Design | Digital Product Strategy &amp; Design'>Luke Wroblewski</a></li>
    <li><a href='http://sachagreif.com/' title='SachaGreif.com'>Sacha Greif</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://getbootstrap.com/' title='Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.'>Bootstrap</a></li>
    <li><a href='http://www.meteor.com/' title='Meteor is an open-source platform for building top-quality web apps in a fraction of the time, whether you&apos;re an expert developer or just getting started.'>Meteor</a></li>
    <li><a href='http://meteorhacks.com/' title='Meteor hacks and tricks by arunoda'>MeteorHacks</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://pages.github.com/' title='GitHub Pages'>GitHub Pages</a></li>
    <li><a href='http://jekyllrb.com/' title='Jekyll • Simple, blog-aware, static sites'>Jekyll</a></li>
</ul>
