<ul>
    <li><a href='http://blog.lizunlong.com/' title='LZL'>blog / 博客</a></li>
    <li><a href='http://shootingwiths100.tumblr.com/' title='Shooting with S100'>photos / 照片</a></li>
</ul>

<hr />

<ul>
    <li><a href='mailto:lizunlong@gmail.com' title='say hi'>email</a></li>
    <li><a href='http://lizunlong.tumblr.com/' title='check out my tumblog'>taste</a></li>
    <li><a href='http://lzl.neocities.org/' title='HTML, CSS and JavaScript playground'>playground</a></li>
</ul>

<hr />

<ul>
    <li><a href='http://blog.lizunlong.com/tagged/urls' title='My browser homepage'>urls</a></li>
    <li><a href='http://blog.lizunlong.com/tagged/bombs' title='I like link stuff.'>bombs</a></li>
    <li><a href='http://blog.lizunlong.com/tagged/morning' title='I write something at morning'>morning</a></li>
</ul>