body {
  font-family: menlo,tahoma,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,simsun,sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}
header, article {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.black {
  background-color: #000;
  color: #fff;
}
.white {
  background-color: #fff;
  color: #333;
}
header a {
  text-decoration: none;
  color: #fff;
}
header a:visited {
  color: #fff;
}
article a {
  color: #0074D9;
}
article a:visited {
  color: #333;
}

h1, h2, h3, h4, p, ul {
  font-size: 1em;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}
header h1 {
  margin: 0;
}
article h1 {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
/*! author-marks.css via http://mattgemmell.com/2013/05/16/author-marks/ */
strong {
  padding: 0 2px;
  font-weight: normal;
  border-radius: 4px;
  border: 1px solid #FF851B;
}
blockquote {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #FF851B;
  margin: 0;
  padding: 0 0 0 1em;
}
img {
  position: absolute;
  border-radius: 4px;
}
hr {
  visibility: hidden;
  margin: 0;
  border: 0;
  padding: 1em;
}
.avatar {
  position: absolute;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-image: url(/static/avatar.png);
  background-size: 48px;
  background-repeat: no-repeat;
}
.avatar:hover {
  background-image: url(/static/ha.gif);
}
.logo {
  display: block;
  padding-top: 12px;
  height: 2em;
  background-image: url(/static/logo.png);
  background-position: right;
  background-size: 124px 20px;
  background-repeat: no-repeat;
}
.button {
  display: block;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}
.button:visited {
  color: #0074D9;
}
.published-at {
  text-align: right;
}

.grid {
  display: flex;
}
.cell {
  flex: 1
}
.gutter {
  margin: -1em 0 0 -1em;
}
.gutter > .cell {
  padding: 1em 0 0 1em;
}
.back {
  flex: 0 0 33.3333%;
}
