body, h2 { 
  background: {color:Background};
  color: {color:Text};
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin:0;
  padding:0;
}

img { border:0px; }

a:link, a:active, a:visited { 
  text-decoration: none;
  color: {color:Text};
}

a:hover { 
  text-decoration: none;
  color: {color:Accent};
}

/* Shit thing */
/*
::selection,
a::selection,
img::selection {
 background: #00deff;
 color: #ffffff;
}

::-moz-selection {
 background: #00deff;
 color: #ffffff; 
}
*/

/* Navigation */
.nav {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 130px;
}
.nav h1 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.nav .blogtitle {
  font-weight: bold;
  text-shadow: #CCC 1px 1px 2px;
}
.nav ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
.nav li {
  margin: 0;
  padding: 0;
}

/* Posts */
.posts {
  width: 500px;
  margin-left: 200px;
  margin-top: 100px;
}
.posts .post {
  margin-bottom: 100px;
}
.posts .post a {
  border-bottom: 1px dotted {color:Accent};
}
.posts .post .postfoot {
  color: {color:Accent};
}
.posts .post .postfoot a {
  color: {color:Accent};
  border-bottom: 0px dotted {color:Accent};
}
.posts .post .postfoot a:hover {
  color: {color:Text};
}


/* Photo */
@media all and (max-width: 849px) {  img { max-width: 500px; }  }
@media all and (min-width: 850px) {  img { max-width: 550px; }  }
@media all and (min-width: 900px) {  img { max-width: 600px; }  }
@media all and (min-width: 950px) {  img { max-width: 650px; }  }
@media all and (min-width: 1000px) { img { max-width: 700px; }  }
@media all and (min-width: 1050px) { img { max-width: 750px; }  }
@media all and (min-width: 1100px) { img { max-width: 800px; }  }
@media all and (min-width: 1150px) { img { max-width: 850px; }  }
@media all and (min-width: 1200px) { img { max-width: 900px; }  }
@media all and (min-width: 1250px) { img { max-width: 950px; }  }
@media all and (min-width: 1300px) { img { max-width: 1000px; } }
@media all and (min-width: 1350px) { img { max-width: 1050px; } }
@media all and (min-width: 1400px) { img { max-width: 1100px; } }
@media all and (min-width: 1450px) { img { max-width: 1150px; } }
@media all and (min-width: 1500px) { img { max-width: 1200px; } }
@media all and (min-width: 1550px) { img { max-width: 1250px; } }
@media all and (min-width: 1600px) { img { max-width: 1300px; } }
@media all and (min-width: 1650px) { img { max-width: 1350px; } }
@media all and (min-width: 1700px) { img { max-width: 1400px; } }
@media all and (min-width: 1750px) { img { max-width: 1450px; } }
@media all and (min-width: 1800px) { img { max-width: 1500px; } }
@media all and (min-width: 1850px) { img { max-width: 1550px; } }
img { height: auto; }

{block:ifLargePictures}
/* Video */
@media all and (max-width: 849px) {
     .video iframe, .video object, .video embed { width:  500px; height: 281px; } }
@media all and (min-width: 850px) {
     .video iframe, .video object, .video embed { width:  550px; height: 309px; } }
@media all and (min-width: 900px) {
     .video iframe, .video object, .video embed { width:  600px; height: 337px; } }
@media all and (min-width: 950px) {
     .video iframe, .video object, .video embed { width:  650px; height: 365px; } }
@media all and (min-width: 1000px) {
     .video iframe, .video object, .video embed { width:  700px; height: 393px; } }
@media all and (min-width: 1050px) {
     .video iframe, .video object, .video embed { width:  750px; height: 422px; } }
@media all and (min-width: 1100px) {
     .video iframe, .video object, .video embed { width:  800px; height: 450px; } }
@media all and (min-width: 1150px) {
     .video iframe, .video object, .video embed { width:  850px; height: 478px; } }
@media all and (min-width: 1200px) {
     .video iframe, .video object, .video embed { width:  900px; height: 506px; } }
@media all and (min-width: 1250px) {
     .video iframe, .video object, .video embed { width:  950px; height: 534px; } }
@media all and (min-width: 1300px) {
     .video iframe, .video object, .video embed { width: 1000px; height: 562px; } }
@media all and (min-width: 1350px) {
     .video iframe, .video object, .video embed { width: 1050px; height: 590px; } }
@media all and (min-width: 1400px) {
     .video iframe, .video object, .video embed { width: 1100px; height: 618px; } }
@media all and (min-width: 1450px) {
     .video iframe, .video object, .video embed { width: 1150px; height: 646px; } }
@media all and (min-width: 1500px) {
     .video iframe, .video object, .video embed { width: 1200px; height: 674px; } }
@media all and (min-width: 1550px) {
     .video iframe, .video object, .video embed { width: 1250px; height: 703px; } }
@media all and (min-width: 1600px) {
     .video iframe, .video object, .video embed { width: 1300px; height: 731px; } }
@media all and (min-width: 1650px) {
     .video iframe, .video object, .video embed { width: 1350px; height: 759px; } }
@media all and (min-width: 1700px) {
     .video iframe, .video object, .video embed { width: 1400px; height: 787px; } }
@media all and (min-width: 1750px) {
     .video iframe, .video object, .video embed { width: 1450px; height: 815px; } }
@media all and (min-width: 1800px) {
     .video iframe, .video object, .video embed { width: 1500px; height: 843px; } }
@media all and (min-width: 1850px) {
     .video iframe, .video object, .video embed { width: 1550px; height: 871px; } }
{/block:ifLargePictures}

/* Audio */
img.albumart {
  width: 207px;
  height: 207px;
}

/* Quote */
.quote {
  font-size: 24px;
  font-style: italic;
  line-height: 28px;
  letter-spacing: -1px;
}
.source {
  text-align: right;
}

/* Chat */
.chat ul { list-style:none; margin:0px; padding:0px; }
.chat li { padding: 3px 0; }
.chat span.label {  }
.chat .line {  }

/* Text */
.title {
  font-weight: bold;
}

/* Notes */
/*
.notes { margin-top: 75px; }
ol.notes { padding: 0px; margin: 0px 5px; list-style-type: none; }
ol.notes li.note { border-top: solid 0px #ccc; padding: 0 0 3px 0; }
ol.notes li.note img.avatar {vertical-align: -4px; margin-right: 0px; width: 16px; height: 16px; }
ol.notes li.note span.action { font-weight: normal; }
ol.notes li.note span.action a { font-weight: normal; }
ol.notes li.note .answer_content { font-weight: normal; }
ol.notes li.note blockquote { border-color: none; padding: 1px 3px; margin: 0px 0px 0px 0px; }
ol.notes li.note blockquote a { text-decoration: none; }
*/
 

/* Pagination */
.pagination {
  margin-bottom: 100px;
}
.current_page {
  font-weight: bold;
  background: {color:Accent};
  padding: 2px 6px 0px 6px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

/* Stuff */
blockquote { margin-left:3px !important; }

.tumblrAutoPager_page_info {
  display:none;
}
hr {
  display:none;
}

#tumblr_controls {
  position: fixed !important;
}

/* Mobile */

<<<<<<< HEAD
@media all and (max-width: 500px) {
 ul.nav {
  font-size: large;
  position: relative;
  top: 70px;
  width: 100%;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
 }
 div.posts {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
 }
 img {
  max-width: 100%;
 }
=======
@media all and (max-width: 750px) {
  .nav {
    position: relative;
    top: 100px;
    left: 20px;
  }
  h1 {
    font-size: large;
  }
  .nav li {
    display: inline;
  }
  .posts {
    position: relative;
    width: 500px;
    margin: 150px 20px 0;
  }

  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media all and (max-width: 540px) {
  .posts {
     width: auto;
  }
>>>>>>> update style.css
}