<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/lib/normalize.css">
  <link rel="stylesheet" href="static/single.css">
  <link rel="shortcut icon" href="static/lzl.ico" type="image/x-icon">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="black">
  <header>
    <h1 class="desktop"><a href="http://lizunlong.com/"><img class="avatar" src="/static/lzl.png" width="48px" height="48px" /><span class="title">LZL / 李尊龙</span></a></h1>
  </header>
</div>
<div class="white">
  <article>
    {{ content }}
  </article>
</div>
</body>
</html>